.MainLayout-layout {
  min-height: 100vh;
}

.MainLayout-header {
  background: white;
}

.MainLayout-headerDiv {
  display: flex;
}

.MainLayout-buttonDiv {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.MainLayout-logo {
  display: block;
  color: black;
  font-size: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

.MainLayout-footer {
  text-align: center;
  font-size: 10px;
  color: white;
  padding: 12px;
  background-color: #122335;
}

.MainLayout-footerSpacing {
  margin-top: 1rem; 
}
