.Register-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/townhouse-background.jpeg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.Register-card {
  width: 640px;
}
